.fieldset__checkbox-row {
    display: flex;
    margin-bottom: 17px;


    &:last-child {
        margin: 0;
    }

    // Mobile XS
    @media (max-width: 599px) {
        margin-bottom: 22px;
    }
}

.real-checkbox{
    width: 0;
    height: 0;
    position: absolute;
    opacity: 0;
    z-index: -1;
}

.custom-checkbox {
    position: relative;
    display: inline-block;
    flex-shrink: 0;
    margin-right: 15px;
    width: 20px;
    height: 20px;
    background-color: #EEEEEE;
    border: 1px solid #C0C0C0;
    border-radius: 2px;
    vertical-align: bottom;


    &::before {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0);
        content: "";
        width: 17px;
        height: 17px;
        background-image: url("../img/icons/check_svg.png");
        transition: transform 0.2s ease-in;
    }
}

.real-checkbox:checked + .custom-checkbox::before {
    transform: translate(-50%, -50%) scale(1);
}

.real-checkbox:focus + .custom-checkbox {
    border: 1px solid #2AB698;
    box-shadow: 0 0 10px rgba(42, 182, 152, 0.5);
}